name: Terraform (CLI-driven, HCP backend)

on:
  pull_request:
    paths:
      - "modules/**"
      - "states/**"
      - ".github/workflows/**"
  push:
    branches: ["main"]
    paths:
      - "modules/**"
      - "states/**"
      - ".github/workflows/**"

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        stack:
          - states/dev/base
          - states/prod/base

    env:
      TF_VAR_alert_email: ${{ secrets.ALERT_EMAIL }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: eu-central-1

    defaults:
      run:
        shell: bash
        working-directory: ${{ matrix.stack }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform CLI
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve -input=false